body {
    background-color: #f5f3f3;
    color: black;
}

a {
    color: black;
}

.topNav a,
.topNav a:hover,
.topNav a:visited {
    color: white;
}

@media (max-width: 760px) {
    .topNav {
        background-color: #04AA6D;
    }
    .ticketText input,
    .ticketText input:focus {
        color: black;
    }
}

@media (min-width:761px) {
    .topNav {
        background-color: #04AA6D;
    }
    /* Print Tickets UI */
    .ticketText input,
    .ticketText input:focus {
        color: black;
    }
    .ticket,
    .notTicket {
        color: black;
    }
    .sortButton {
        border: 1px solid #CCCCCC;
    }
    /* Edit Ticket UI */
    .msgInner {
        background-color: #ffffff;
        padding: 1 0 1 4;
    }
}