.parent {
    overflow: hidden;
}

fieldset {
    padding: 0;
}

.sidebar {
    background-color: brown;
}

.flagFilter label {
    margin-left: 8px;
}

@media (max-width:560px) {
    .sidebar {
        box-sizing: border-box;
        /*border: 1px yellow solid;*/
        min-height: 100px;
        padding-top: 4px;
        padding-bottom: 6px;
    }
    .tickets {
        box-sizing: border-box;
        border: 1px pink solid;
        overflow: hidden
    }
    fieldset legend {
        margin-left: 32px;
        font-size: 1.4em;
    }
    .timeSort select {
        margin-left: 32px;
        margin-top: 16px;
    }
    .flags {
        margin-left: 32px;
    }
    .timeSort {
        float: left;
        margin-right: 64px;
    }
    .filters fieldset {
        border: none;
        margin-top: 4px;
        margin-bottom: 4;
    }
}

@media (min-width:561px) and (max-width:840px) {
    .sidebar {
        box-sizing: border-box;
        border: 1px black solid;
        float: left;
        width: 125px;
    }
    .tickets {
        box-sizing: border-box;
        border: 1px orange solid;
        overflow: hidden
    }
    fieldset legend {
        margin-left: 34px;
        margin-bottom: 8px;
        font-size: 1.4em;
    }
    .timeSort select {
        margin-left: 0px;
    }
    .filters fieldset {
        border: none;
        margin-top: 8px;
        margin-bottom: 24px;
    }
    .flags {
        margin-left: 8px;
    }
}

@media (min-width:841px) and (max-width:1280px) {
    .sidebar {
        box-sizing: border-box;
        border: 1px red solid;
        float: left;
        width: 180px;
    }
    .tickets {
        box-sizing: border-box;
        border: 1px blue solid;
        overflow: hidden
    }
    fieldset legend {
        margin-left: 60px;
        margin-bottom: 8px;
        font-size: 1.4em;
    }
    .timeSort select {
        margin-left: 30px;
    }
    .flags {
        margin-left: 30px;
    }
    .filters fieldset {
        border: none;
        margin-top: 8px;
        margin-bottom: 24px;
    }
}

@media (min-width:1281px) {
    .sidebar {
        box-sizing: border-box;
        border: 1px red solid;
        width: 200px;
        float: left;
    }
    .tickets {
        box-sizing: border-box;
        border: 1px blue solid;
        overflow: hidden;
    }
    fieldset legend {
        margin-left: 64px;
        margin-bottom: 8px;
        font-size: 1.4em;
    }
    .timeSort select {
        margin-left: 32px;
    }
    .flags {
        margin-left: 32px;
    }
    .filters fieldset {
        border: none;
        margin-top: 8px;
        margin-bottom: 24px;
    }
    .linkbutton a {
        font-size: 1.2em;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
        float: right;
        margin-right: 32px;
        margin-bottom: 8px;
    }
}

@media (max-width:560px) {}

@media (min-width:561px) and (max-width:840px) {
    .sortButton {
        border: none;
        display: block;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 8px;
        width: 96px;
    }
}

@media (min-width:841px) {
    .sortButton {
        border: none;
        display: block;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 8px;
        width: 128px;
    }
}

.sortButton {
    background-color: whitesmoke;
}