body {
    background-color: #272727;
}

.footer {
    background-color: #171717;
}

.footer-links a,
.footer-links a:hover,
.footer-links a:visited {
    color: white;
    text-decoration: none;
    text-decoration: underline;
}