body {
    background-color: whitesmoke;
}

.footer {
    background-color: white;
}

.footer-links a,
.footer-links a:hover,
.footer-links a:visited {
    color: lightslategray;
    text-decoration: none;
    text-decoration: underline;
}